<!DOCTYPE html>

<head>
  <title>Open financial</title>
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet'
        type='text/css'>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
  <!-- <span style="background-image: url('../assets/circle\ \(2\).svg'); "> -->
  <!-- </span> -->
  <div class="main-container-1">
    <div>
      <div>
        <img src="../assets/logo@2x.png" class="logo_img">
      </div>
      <div class="left_container">
        <div>
          <p class="text">We make it Super</p>
          <p class="text">Simple</p>
          <svg class="svgImg">
            <line x1="0" y1="0" x2="200" y2="0" style="stroke:rgb(0,0,0);stroke-width:12" />
          </svg>
        </div>
        <img src="../assets/collect_img-video.png">
      </div>

    </div>

    <div class="right_container">
      <div class="menu_container">
        <p class="menu">Products</p>
        <p class="menu">Solutions</p>
        <p class="menu">Pricing</p>
        <button class="button login">Login</button>
        <button class="button getStarted">Get Started</button>
      </div>
      <!-- <div style="    margin-top: 120px;">
        <img src="../assets/Group 6.svg">
      </div> -->
      <div class="right_bottom_continer">
        <mat-card style="width: 80%">
          <div>
            <h2>Eligibility Calculator</h2>
            <div class="monthly_divs">
              <label >Monthly Income</label>
              <mat-form-field>
                <input matInput placeholder="" [(ngModel)]="value">
              </mat-form-field>
              <mat-slider [(ngModel)]="value" [step]="step" [max]="max" [min]="min">
              </mat-slider>
              <div class="rs_div">
                <p>&#8377; 100000</p>
                <p>&#8377; 30000</p>
              </div>
            </div>
            <div class="monthly_divs">
              <label>Monthly Expense</label>
              <mat-form-field>
                <input matInput placeholder="" [(ngModel)]="value2">
              </mat-form-field>
              <mat-slider [(ngModel)]="value2" [step]="step2" [max]="max2" [min]="min2">
              </mat-slider>
            </div>
          </div>
          <div>
            <form [formGroup]="calculatorForm" (ngSubmit)="submitForm()" class="calc_form">
              <!-- <mat-form-field class="example-full-width">
                <mat-label>Monthly Income</mat-label>
                <input matInput formContorlName="monthlyIncome">
              </mat-form-field> -->
              <div>
                <h5>Do you have any exsiting Loans? </h5>
                <label class="switch">
                  <input type="checkbox">
                  <span class="slider round"></span>
                </label>
              </div>

              <mat-form-field class="example-full-width">
                <mat-label class="font_style">Repayment Tenure</mat-label>
                <input matInput formContorlName="tenure">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <mat-label class="font_style">EMI of existing loan (optional)</mat-label>
                <input class="font_style" matInput placeholder="&#8377; 1500" formContorlName="tenure" value="&#8377; 1500">
              </mat-form-field>
            </form>
          </div>



        </mat-card>
        <div class="loan_amount">
          <h3>Loan Amount</h3>
          <p> <span>&#8377;</span> 100000</p>
          <h3>Your EMI will be</h3>
          <p><span>&#8377;</span> 15000</p>
          <button class="getMoney_button"> Get Money</button>
        </div> <br><br>
      </div>
    </div>

  </div>
  <div class="main-container-2">
    <div class="left_card_div">
      <div>
        <mat-card class="cards">
          <img class="card_img" src="../assets/Get_Paid _Instantly.png">
          <h3 class="tag_h3">Quick case disburestment</h3>
          <h5 class="tag_h5"> Get terms loans that your business needs withinh 72 hours</h5>
        </mat-card>
      </div>
      <div>

        <mat-card class="cards">
          <img class="card_img" src="../assets/Low_interest_rate.png">
          <h3 class="tag_h3">Low-intrest rate </h3>
          <h5 class="tag_h5"> Achieve your financial goals within an amazing intrest rate
            starting at 13% per annum</h5>
        </mat-card>
      </div>
      <div>
        <mat-card class="cards">
          <img class="card_img" src="../assets/Secure Payments@2x.png">
          <h3 class="tag_h3">Zero paer work</h3>
          <h5 class="tag_h5"> Get started instantly by submmitting only your basic datils & back
            statement</h5>
        </mat-card>
      </div>
    </div>
    <div style="margin: auto;">
      <div>

        <mat-card class="cards left_card">
          <img class="card_img" src="../assets/freelancer_feature_icon_6@1.5x@2x.png">
          <h3 class="tag_h3">Low-intrest rate </h3>
          <h5 class="tag_h5"> Achieve your financial goals within an amazing intrest rate
            starting at 13% per annum</h5>
        </mat-card>
      </div>
      <div>

        <mat-card class="cards left_card">
          <img class="card_img" src="../assets/Covid@2x.png">
          <h3 class="tag_h3">Loans to fight COVID-19 </h3>
          <h5 class="tag_h5"> Zero EMI for first 3 Months on Back-to-Business loans of upto 1
            lakh</h5>
        </mat-card>
      </div>
    </div>
    <div style="margin: auto;">
      <p class="text">Boost your business</p>
      <p class="text">with Open</p>
      <svg class="svgImg">
        <line x1="0" y1="0" x2="200" y2="0" style="stroke:#707070;stroke-width:12" />
      </svg>
      <h3 class="business_h3">Get your hands on a term loan that's crafted for your business</h3>
      <!-- <h3 style="color:#707070">crafted for your business</h3> -->
      <button class="openLink">Get an Open Account</button>
    </div>
  </div>

</body>

<router-outlet></router-outlet>